*{
    margin: 0%;
    box-sizing: border-box;
}

.menu{
  margin: 2%;
background: rgb(192, 192, 192);
min-height: 1vh;
}

body, html{
    min-height: 100vh;
    margin: 0;
}

body{
    font-family: "Pixelify Sans", sans-serif;
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .strip1{
    color: white;
    background: rgb(0, 97, 248);
    text-align: left;
    min-height: 5vh;
  }

  .strip2{
    background: rgb(149, 179, 242);
    text-align: center;
    min-height: 10vh;
  }

  .login{
    padding-top: 5vh;
    background: rgb(236, 233, 216);
    min-height: 25vh;
    display: grid;
    text-align: center;

  }

  .buttonhome{
    text-align: left;
    background: rgb(192, 192, 192);
    text-decoration: none;
    padding: 8px, 15px;
    width: fit-content;
    height: fit-content;
  border: 1px solid black;
  position: absolute;
  bottom: 10px;
  left: 10px;
  }

  .buttonnext{
    text-align: right;
    background: rgb(192, 192, 192);
    text-decoration: none;
    padding: 8px, 15px;
    width: fit-content;
    height: fit-content;
  border: 1px solid black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  }

  .close{
    width: 30px;
    height: 30px;
  background-color: rgb(192, 192, 192);
  border: 1px solid black;
  color: rgb(145,145,145);
  text-align: center;
  }

 .header{
    text-align: left;
    color: white;
    background: rgb(2, 0, 161);
    padding-top: 2vh;     
    height: fit-content;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button{
    text-align: center;
    background:white;
    text-decoration: none;
    width: 50px;
    height: 50px;
  border: 1px solid black;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .tab{
    background: rgb(192, 192, 192);
    min-height: 60vh;
    display: grid;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin-top: 10%;
  }

  .rect{
    width: 100%;
    height: fit-content;
  background-color: rgb(249, 249, 249);
  border: 1px solid black;
  text-align: left;
  }

  .row{
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .text{
    background-color: white;
    margin: 2%
  }

  .text p {
    margin-bottom: 30px;
    line-height: 1.4;
  }

  .intro{
    margin: 15%;
  }

  